@import url('https://fonts.cdnfonts.com/css/google-sans');

html, body{
    font-family: 'Google Sans', sans-serif;          
}

header {
	background-color: #fff; 
	height: 80px; 
	padding: 20px; 
}

nav ul {
	list-style: none; 
	margin: 0;
	padding: 0;
}

nav li {
	float: left; 
	margin-right: 20px; 
}

nav li a {
	color: #34a2cd; 
	display: block; 
	font-size: 16px; 
	padding: 10px; 
	text-decoration: none; 
}

.logo {
	float: left; 
	height: 40px; 
	width: 40px; 
	margin-right: 20px; 
	background-color: #ccc; 
}
